//more.scss
$mainColor : #513736;
$border-line : 1px solid #ebebeb;

.More{
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    background-color: $mainColor;
}

.common{
    height: 85.8%;
    padding-top: 64px;

    .user_info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 72px;
        border-bottom: $border-line;

        .profile_img{
            width: 50px;
            height: 50px;
        }
        .profile_info{
            display: flex;
            flex-direction: column;
            flex: 1;

            .profile_name{font-size: 16px;font-weight: bold;}
            .profile_email{color: #8e9399;}
        }
        .chat_img{
            i{font-size: 30px;margin-right: 15px;color: $mainColor;}
        }
    }

    .user_menu{
        display: flex;
        align-items: center;
        height: 125px;
        border-bottom: $border-line;

        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 100%;

            li{
                overflow: hidden;
                flex: 1;

                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $mainColor;
                    font-weight: bold;
                    transition: transform 0.3s linear 0s;

                    i{
                        font-size: 30px;margin-bottom: 10px;
                    }

                    &:hover{transform: scale(1.05);}
                }
            }
        }
    }

    .plus_friends{
        height: 280px;
        border-bottom: $border-line;

        header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 34px;
            margin-bottom: 15px;
            padding: 5px 15px;
            border-bottom: $border-line;
            font-size: 16px;

            span > i{margin-right: 5px;}
        }

        .plus_list{
            display: flex;
            flex-wrap: wrap;

            li{
                display: flex;
                align-items: center;
                width: 50%;
                height: 45px;

                a > i{margin: 0 15px;font-size: 16px;}
            }
        }
    }

    .more_app{
        padding: 15px;

        ul{
            display: flex;
            flex-direction: row;

            li{
                width: 75px;
                
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .app_icon{
                        display: block;
                        width: 44px;
                        height: 44px;
                        margin-bottom: 10px;
                        background-size: cover;
                    }
                }
            }
        }
    }
}

.more_nav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6.4%;
    min-height: 54px;
    border-top: 1px solid #c1c1c1;
    background-color: #f7f7f7;
    ul{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        li{
            flex: 1;
            text-align: center;
            transition: transform 0.5s linear 0s;
            a{color: #c0c1c2;
                i{
                    display: block;
                    font-size: 22px;
                }
            }
            &:hover{
                transform: scale(1.1);
            }
            &:nth-child(4) a{
                color: #513736;
            }
        }
    }
}
// .tab_bar > ul > li:nth-child(4) > a{color: $mainColor;}
